@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Caveat+Brush&family=Caveat:wght@400;700&family=Lato:wght@300;400&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #f7f1e9;
}


/* chart */
.area {
  /* fill: steelblue; */
  clip-path: url(#clip);
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

.filters{
  padding: 20px;
}

.filter-label{
  padding-bottom: 5px;
  padding-top: 35px;
}

/* container for all */
#visualization{
  display: grid;
  height: calc(100vh);
  width: calc(100vw - 60px);
  grid-template-columns: 3fr 2fr;
  grid-template-rows: repeat(6,1fr);
  grid-gap: 5px;
  /* grid-auto-rows: minmax(100px, auto); */

}

mark{
  background-color: #e8af74a8;
  padding: 0 4px;
  color: #131111;
  height: 10px;
}

p{
  margin: 0 0;
  /* font-family: 'Crimson Text', serif; */
  font-family: 'Roboto',sans-serif;
  font-size: 14px;
  margin-bottom: 10px;


}

.info{
  margin-top: 10px;
  grid-column: 2;
  grid-row: 1/4;
  width: 250px;
  margin-left: 20px;

}

#subjectfilters{
  padding: 0 20px;
  display: grid;
  grid-column: 2;
  grid-row: 5/6;

}

.filter-label{
  font-family: 'Crimson Text', serif;
  font-size: 18px;
  margin-bottom: 10px;
}

.option-selected{
  font-family: 'Roboto',sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  fill:#344b56;
}

.labelGroup{
  font-family: 'Roboto', serif;
  /* text-transform: uppercase; */
  font-size: 15px;
  stroke:none;


}

.info{
  padding: 0px;
  grid-column: 2;
  grid-row: 1/3;
  height: calc(60vh);
}


.button{
  padding: 20px;
  grid-column: 2;
  grid-row: 6;
  width:270px;
}

button{
/* border-radius: 20px; */
height: 40px;
width: 80px;
font-size: 13px;
background: none;
text-transform: uppercase;
font-family: 'Roboto',sans-serif;
fill:#344b56;
}

button:hover{
  background: #e8af74;
}

.tooltip{
  position: absolute;
  width: 200px;
  padding: 20px;
  font-size: 13px;

  background-color:#ffffff;
  /* border:solid; */
  position,:absolute;
  border-radius:5px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);

  z-index:2;

  font-family: 'Roboto',sans-serif;

}

.svg-container {
  grid-column: 1/2;
  grid-row: 1/10;
  width: 1200px;
  overflow: hidden;
  display: inline-block;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over*/
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* add a blue background */
.container input:checked ~ .checkmark {
  background-color: #e8af74;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

/* draw check */
.container .checkmark:after {
  left: 8px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.axis line {
  stroke: lightgrey;
  stroke-opacity: 0.8;
  shape-rendering: crispEdges
}

.axis--y path {
  stroke: lightgrey;
  stroke-opacity: 0;
  shape-rendering: crispEdges
}

.axis--x path {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges
}

.brush{
  fill:#f7f1e9;
  opacity: 0.5;
}
